<%- include('partials/head') %> 

<%- include('partials/navbar') %>
    <h1> The home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur provident cumque saepe vero possimus natus deleniti necessitatibus sunt maiores earum, quibusdam dicta, cupiditate, fuga consectetur maxime totam quidem porro id!
    </p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi exercitationem, nulla veritatis numquam neque harum labore aliquid, voluptates tenetur quasi, laborum dignissimos voluptatum vel architecto officiis. Magnam cum eum mollitia.
    </p>


<%- include('partials/footer') %>